<!DOCTYPE html>
<meta charset="utf-8">
<style>
.arc path {
  stroke: #fff;
}
</style>
<body>
  <div id="main">
    <div>
      <button v-on:click="setScale(true)">Player Scale</button>
      <button v-on:click="setScale(false)">League Scale</button>
      <h1>{{ currentPlayer.name }}</h1>
      <select v-model="currentPlayer">
        <option v-for="player in players" v-bind:value="player">
          {{ player.name }}
        </option>
      </select>
    </div>
  </div>
  <script src="assets/bundle.js"></script>
</body>
