input, select, textarea, button{
  font-family: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* START NAV */

.navbar {
  position: fixed;
  background-color: #efefef;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0px;
  z-index: 2;
  opacity: 0.9;
}

#main {
  padding-top: 48px;
}

.player-selector {
  position: relative;
  z-index: 1;
}

input.search {
  padding: 12px 12px 12px 42px;
  font-size: 16px;
  background: #fff url("../images/search.png") 8px 8px no-repeat;
  background-size: 32px;
  outline: none;
  border: 1px solid #e3e3e3;
  border-radius: 24px;
  width: 100%;
}

.player-completions {
  position: absolute;
  top: 32px;
  left: 16px;
  list-style: none;
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.player-completions div {
  padding: 12px 16px;
}

.player-completions .arrowed {
  background-color: #aaa;
}

/* END NAV */

/* BIP HEADER */

.bip-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.player-name {
  margin-left: 32px;
}

.bip-header .stats-header {
  margin: 0px;
}

.stats-header-aside {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

.overall-woba {
  margin: 0px 16px;
}

.player-woba-header td {
  color: #999;
  font-size: 14px;
  text-align: center;
}

.player-woba td {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}

.player-overall-stats {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* END BIP HEADER */


.smf-graph {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ddd;
}

.graph-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px;
}

.graph-title {
  font-size: 32px;
  font-weight: lighter;
  color: #666;
}

.scale-select {
  font-size: 14px;
  padding: 12px;
  border: 1px solid #ddd;
}

.scale-select-header {
  color: #999;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.scale-select input {
  margin-top: 12px;
  margin-right: 12px;
}

.recent-players {
  display: flex;
}

.recent-player {
    padding: 12px;
    background: #ddd;
    margin-left: 16px;
    border-radius: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.stats-column thead td {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

td {
  padding: 2px 12px;
}

tbody td {
  text-align: right;
}

.player-woba-label {
  font-size: 12px;
}

.stats-header {
  margin: 16px;
  font-size: 20px;
  color: #999;
}

.batter-outline {
  width: 120px;
  position: absolute;
  top: 520px;
  left: 20px;
}

.bip-data {
  border-top: 1px solid #ddd;
}

.stats-column {
  border-right: 1px solid #ddd;
}

tr.small-sample {
  color: #ccc;
}

#exit-velocity {
  position: relative;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swatch {
  height: 24px;
}

.swatch-label {
  margin-left: 16px;
}

.swatch-label-title {
  font-size: 14px;
  float: left;
}

.swatch, .swatch-label {
  float: left;
  margin-top: 8px;
}

.production-distribution {
  width: 24px;
  background-color: #eeeeee;
}

.expected-minus-league-positive {
  width: 12px;
  background-color: green;
}

.expected-minus-league-negative {
  width: 12px;
  background-color: red;
}

.formula {
  font-size: 12px;
  background-color: #eee;
  padding: 2px 4px;
  font-family: monospace;
  border: 1px solid #ddd;
  float: right;
  margin-left: 16px;
}

/* GRAPH */
.ev-graph {
  display: block;
  margin: 0 auto;
}

#launch-angle-exit-velocity {
  position: relative;
  /*border-top: 1px solid #ddd;
  margin-top: 16px;*/
}

.arc path {
  stroke: #fff;
}

.launch-tick-label, .velocity-tick-label {
  font-size: 12px;
  fill: #444;
}

.axis-label {
  letter-spacing: 8px;
  font-size: 24px;
}

.velo-x-axis-text {
  font-size: 10px;
}

.visibility-hidden {
  visibility: hidden;
}

.ev-axis line, .ev-axis path {
  stroke: #666;
}

.ev-axis text {
  fill: #666;
}

.bip.single {
  fill: blue;
}

.bip.double {
  fill: yellow;
}

.bip.triple {
  fill: aqua;
}

.bip.home-run {
  fill: black;
}

.bip.out {
  fill: brown;
}

/* TOOLTIPS */
.tooltip-table {
  clear: both;
  margin: 0 auto;
}

.tooltip-table thead td {
  font-size: 12px;
  color: #999;
}
